spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://github.com/BenTels/config-server-test-config-repo.git
          clone-on-start: true
          default-label: main
        vault:
          authentication: token
          host: localhost
          kv-version: 2
          skip-ssl-validation: true
          token: s.ACNksfrpJjKMuU6ofQqQ6fx3
  profiles:
    active:
    - vault
server:
  port: 8088
logging:
  level:
    root: fatal
    nl: info
management:
  endpoints:
    web:
      exposure:
        include: "*"